@using Microsoft.AspNet.Identity.EntityFramework
@model IEnumerable<IdentityRole>
@{
    ViewBag.Title = "Danh sách Quyền";
}

<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Danh sách Quyền</h3>
            <div class="card-tools">
                <a href="/admin/role/create" class="btn btn-success">Thêm mới</a>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Tên</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        var i = 1;
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@item.Name</td>
                                <td>
                                    <div class="d-flex justify-content-end">
                                        <a href="@Url.Action("Edit", "Role", new { id = item.Id })" class="btn btn-primary"><i class="fas fa-edit"></i> Sửa</a>
                                        <a href="@Url.Action("Delete", "Role", new { id = item.Id })" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Xóa</a>
                                    </div>
                                </td>
                            </tr>
                            i++;
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer"></div>
    </div>
</section>
